@charset "UTF-8";

body::-webkit-scrollbar {
   display: none;
}

#listboard {
   margin: 0px auto;
   padding: 0px;
   width: 1250px;
   height: auto;
   font-family: "Nanum Gothic Coding", monospace;
}

#listTop {
   text-align: center;
   margin: 0px auto;
   margin-bottom: 50px;
   padding: 0px;
   padding-top: 10px;
   width: 850px;
   height: 130;
}

#listboard table {
   text-align: center;
   margin: 0px auto;
   padding: 0px;
   width: 850px;
   border-left: none;
   border-bottom: rgba(169, 169, 169, 0.7) 0.7px solid;
   border-collapse: collapse;
   margin-bottom: 5px;
}

#listboard #comment {
   width: 50px;
}

#boardTr #sort {
   width: 60px;
   background-image: url("../img/sort.png");
   background-size: 40px 23px;
   background-repeat: no-repeat;
   background-position: center;
}

#listboard #name {
   width: 120px;
}

#listboard #date {
   width: 80px;
}

#listboard #count {
   width: 65px;
}

#listTop button {
   border-radius: 5px;
   padding: 2px;
   float: left;
   width: 55px;
   height: auto;
   /*    background-color: rgba(169, 169, 169, 0.05); */
   background-color: white;
   border: 2px rgba(169, 169, 169, 0.4) solid;
   margin-right: 5px;
   position: relative;
   outline: none;
}

#listTop button:hover {
   /*    background-color: rgba(94, 204, 152, 0.2); */
   background-color: white;
   border: 2px rgba(94, 204, 152, 0.4) solid;
}

#writelink {
   float: right;
}

#writelink:hover {
   background-color: rgba(94, 204, 152, 0.3);
   text-decoration: none;
}

#writelink:link {
   color: black;
   text-decoration: none;
}

#writelink:visited {
   color: black;
   text-decoration: none;
}

#listboard table tr {
   border-bottom: 1px #f5f5f5 solid;
}

/* #listboard table th { */
/*    height: 25px; */
/*    font-size: 15px; */
/*    background-color: rgba(0, 191, 255, 0.5); */
/* } */

/* tr:nth-child(odd) { */
/*    background-color: rgba(0, 191, 255, 0.05); */
/* } */
tr:hover {
   background-color: rgba(169, 169, 169, 0.05);
}

#TS_Board th {
   height: 25px;
   font-size: 15px;
   background-color: rgba(45, 158, 206, 0.5);
}

#TS_Board tr:nth-child(odd) {
   background-color:  rgba(45, 158, 206, 0.05);
}

#listTop th {
   height: 25px;
   font-size: 15px;
   background-color: rgba(45, 158, 206, 0.5);
}

#listTop tr:nth-child(odd) {
   background-color:  rgba(45, 158, 206, 0.05);
}

#brand th {
   height: 25px;
   font-size: 15px;
   background-color: rgba(45, 158, 206, 0.5);
}

#brand tr:nth-child(odd) {
   background-color:  rgba(45, 158, 206, 0.05);
}

#notice th {
   height: 25px;
   font-size: 15px;
   background-color: rgba(234, 98, 116, 0.5);
}

#notice tr:nth-child(odd) {
   background-color: rgba(234, 98, 116, 0.05);
}

#QnAlist th {
   height: 25px;
   font-size: 15px;
   background-color: rgba(27, 153, 139, 0.5);
}

#QnAlist tr:nth-child(odd) {
   background-color: rgba(27, 153, 139, 0.05);
}

#admCommList th {
   height: 25px;
   font-size: 15px;
   background-color: rgba(0, 0, 0, 0.5);
}

#admCommList tr:nth-child(odd) {
   background-color: rgba(0, 0, 0, 0.05);
}

#listboard table td {
   height: 25px;
   font-size: 13px;
   padding-top: 2px;
   padding-bottom: 2px;
}

#listboard #titleAl {
   text-decoration: none;
   text-align: left;
   padding-left: 5px;
   color: black;
}

#listboard #title:link {
   text-decoration: none;
   color: black;
}

#listboard #title:visited {
   text-decoration: none;
   color: black;
}

#listBottom {
   margin: 0px auto;
   padding: 0px;
   width: 850px;
   height: 25px;
   padding-bottom: 50px;
}

#listBottom #writelink {
   float: right;
}

#listBottom select {
   height: 26px;
   float: left;
   text-align: center;
   margin-right: 3px;
   outline: none;
}


#boardTr #sort {
   width: 60px;
   background-image: url("../img/sort.png");
   background-size: 40px 23px;
   background-repeat: no-repeat;
   background-position: center;
}


#logo {
   margin: 0px auto;
   padding: 0px;
   height: 90px;
   width: 1250px;
   text-align: center;
   padding-top: 45px;
}



#totalSearch img {
   margin-top: 4px;
   width: 32px;
}



#mainboard {
   margin: 0px auto;
   margin-top:20px;
   margin-bottom: 20px;
   padding: 0px;
   width: 850px;
   height: 603px;
}
   
   
#totalboard {
   margin: 0px auto;
   margin-left: 6px;
   margin-right: 6px;
   padding: 0px;
    width: 271px;
   height: 280px;
   text-align: center;
   float: left;
   background-color: rgba(234, 98, 116, 0.4);
   box-shadow: 7px 7px 7px rgba(234, 98, 116, 0.7);
}

#totalboard table {
   width: 279px;
   /*height: 275px;*/
   border-left: none;
   border-collapse: collapse;   
}

#totalboard table th {
   height: 25px;
   font-size: 15px;
   background-color: rgba(234, 98, 116, 0.5);
   border-bottom: 1px rgba(234, 98, 116, 0.1) solid;
}

#totalboard table td {
   padding-left:8px;
   padding-top:2px;
   padding-bottom:2px;
   height: 25px;
   font-size: 13px;
   border-bottom: 1px rgba(234, 98, 116, 0.2) solid;
}

#totalboard table tr:nth-child(odd) {
   /*background-color: rgba(156, 149, 220, 0.2); */
}

      
#totalboard a {
   text-decoration: none;
   color: black;   
}
#totalboard a:link {
   text-decoration: none;
   color: black;
}
#totalboard a:visited {
   text-decoration: none;
   color: black;
}


/*12-12 */
#totalboard2 {
   margin: 0px auto;
   margin-left: 6px;
   margin-right: 6px;
   padding: 0px;
    width: 271px;
   height: 280px;
   text-align: center;
   float: left;
    box-shadow: 7px 7px 7px rgba(255, 120, 39, 0.7);
   background-color: rgba(255, 120, 39, 0.4);
}

#totalboard2 table {
   width: 279px;
   /*height: 275px;*/
   border-left: none;
   border-collapse: collapse;
}

#totalboard2 table th {
   height: 25px;
   font-size: 15px;
   background-color: rgba(255, 120, 39, 0.5);
   border-bottom: 1px rgba(255, 120, 39, 0.1) solid;
}

#totalboard2 table td {
   padding-left:8px;
   padding-top:2px;
   padding-bottom:2px;
   height: 25px;
   font-size: 13px;
   border-bottom: 1px rgba(255, 120, 39, 0.2) solid;
}

#totalboard2 table tr:nth-child(odd) {
   /*background-color: rgba(156, 149, 220, 0.2);*/
}
#totalboard2 a {
   text-decoration: none;
   color: black;   
}
#totalboard2 a:link {
   text-decoration: none;
   color: black;
}
#totalboard2 a:visited {
   text-decoration: none;
   color: black;
}

/*12-12 */
#totalboard3 {
   margin: 0px auto;
   margin-left: 6px;
   margin-right: 6px;
   padding: 0px;
    width: 271px;
   height: 280px;
   text-align: center;
   float: left;
   box-shadow: 7px 7px 7px rgba(247, 198, 84, 0.7);
   background-color: rgba(247, 198, 84, 0.4);
   
}

#totalboard3 table {
   width: 279px;
   /*height: 275px;*/
   border-left: none;
   border-collapse: collapse;
}

#totalboard3 table th {
   height: 25px;
   font-size: 15px;
   background-color: rgba(247, 198, 84, 0.5);
   border-bottom: 1px rgba(247, 198, 84, 0.1) solid;   
}

#totalboard3 table td {
   padding-left:8px;
   padding-top:2px;
   padding-bottom:2px;
   height: 25px;
   font-size: 13px;
   border-bottom: 1px rgba(247, 198, 84, 0.2) solid;
}

#totalboard3 table tr:nth-child(odd) {
   /*background-color: rgba(156, 149, 220, 0.2);*/
}
#totalboard3 a {
   text-decoration: none;
   color: black;   
}
#totalboard3 a:link {
   text-decoration: none;
   color: black;
}
#totalboard3 a:visited {
   text-decoration: none;
   color: black;
}


/*12-12 */
#totalboard4 {
   margin: 0px auto;
   margin-left: 6px;
   margin-right: 6px;
   margin-top: 17px;
   padding: 0px;
    width: 271px;
   height: 280px;
   text-align: center;
   float: left;
   box-shadow: 7px 7px 7px rgba(45, 158, 206, 0.7);
   background-color: rgba(45, 158, 206, 0.4);   
}

#totalboard4 table {
   width: 279px;
   /*height: 275px;*/
   border-left: none;
   border-collapse: collapse;
}

#totalboard4 table th {
   height: 25px;
   font-size: 15px;
   background-color: rgba(45, 158, 206, 0.5);
   border-bottom: 1px rgba(45, 158, 206, 0.1) solid;
}

#totalboard4 table td {
   padding-left:8px;
   padding-top:2px;
   padding-bottom:2px;
   height: 25px;
   font-size: 13px;
   border-bottom: 1px rgba(45, 158, 206, 0.2) solid;
}

#totalboard4 table tr:nth-child(odd) {
   /*background-color: rgba(156, 149, 220, 0.2);*/
}
#totalboard4 a {
   text-decoration: none;
   color: black;   
}
#totalboard4 a:link {
   text-decoration: none;
   color: black;
}
#totalboard4 a:visited {
   text-decoration: none;
   color: black;
}

/*12-12 */
#totalboard5 {
   margin: 0px auto;
   margin-left: 6px;
   margin-right: 6px;
   margin-top: 17px;
   padding: 0px;
    width: 271px;
   height: 280px;
   text-align: center;
   float: left;
   box-shadow: 7px 7px 7px rgba(27, 153, 139, 0.7);
   background-color: rgba(27, 153, 139, 0.4);   
}

#totalboard5 table {
   width: 279px;
   /*height: 275px;*/
   border-left: none;
   border-collapse: collapse;
}

#totalboard5 table th {
   height: 25px;
   font-size: 15px;
   background-color: rgba(27, 153, 139, 0.5);
   border-bottom: 1px rgba(27, 153, 139, 0.1) solid;
}

#totalboard5 table td {
   padding-left:8px;
   padding-top:2px;
   padding-bottom:2px;
   height: 25px;
   font-size: 13px;
   border-bottom: 1px rgba(27, 153, 139, 0.2) solid;
}

#totalboard5 table tr:nth-child(odd) {
   /*background-color: rgba(156, 149, 220, 0.2);*/
}
#totalboard5 a {
   text-decoration: none;
   color: black;   
}
#totalboard5 a:link {
   text-decoration: none;
   color: black;
}
#totalboard5 a:visited {
   text-decoration: none;
   color: black;
}


/*12-12 */
#totalboard6 {
   margin: 0px auto;
   margin-left: 6px;
   margin-right: 6px;
   margin-top: 17px;
   padding: 0px;
    width: 271px;
   height: 280px;
   text-align: center;
   float: left;
   box-shadow: 7px 7px 7px rgba(122, 124, 174, 0.7);
   background-color: rgba(122, 124, 174, 0.4);   
}

#totalboard6 table {
   width: 279px;
   /*height: 275px;*/
   border-left: none;
   border-collapse: collapse;
}

#totalboard6 table th {
   height: 25px;
   font-size: 15px;
   background-color: rgba(122, 24, 174, 0.5);
   border-bottom: 1px rgba(122, 24, 174, 0.1) solid;
}

#totalboard6 table td {
   padding-left:8px;
   padding-top:2px;
   padding-bottom:2px;
   height: 25px;
   font-size: 13px;
   border-bottom: 1px rgba(122, 24, 174, 0.2) solid;      
}

#totalboard6 table tr:nth-child(odd) {
   /*background-color: rgba(156, 149, 220, 0.2);*/
}
#totalboard6 a {
   text-decoration: none;
   color: black;   
}
#totalboard6 a:link {
   text-decoration: none;
   color: black;
}
#totalboard6 a:visited {
   text-decoration: none;
   color: black;
}

#search {
   margin: 0px auto;
   padding: 0px;
   padding-top: 1px;
   width: 156px;
   height: 23px;
   border: 1px gray solid;
   border-radius: 2px;
   float: left;
}

#search input {
   margin-left: 2px;
   width: 98px;
   position: relative;
   border-radius: 3px;
   border: none;
   margin-right: 3px;
   float: left;
   height: 20px;
}

#search button {
   border-radius: 3px;
   margin: 0px auto;
   padding: 0px;
   width: 31px;
   height: 23px;
   background-color: white;
   border: 1px white solid;
   float: left;
}

#search img {
   margin-top: 1px;
   width: 17px;
}

#logo {
   margin: 0px auto;
   padding: 0px;
   text-align: center;
   font-family: 'Gamja Flower', cursive;
   font-weight: bold;
   font-size: 45pt;
   padding-top: 50px;
}

#totalSearch {
   margin: 0px auto;
   margin-top:15px;
   margin-bottom:15px;
   padding: 0px;
   padding-bottom: 3px;
   width: 844px;
   height: 60px;
   border: 1px gray solid;
   border-radius: 4px;   
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
   border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
   
}

#totalSearch input {
   margin-left: 5px;
   margin-right: 3px;
   margin-top: 2px;
   width: 726px;
   height: 53px;
     position: relative;
   border-radius: 4px;
   border: none;
   font-size: 20px;
   padding-left: 10px;
   float: left;
   text-align: center;
   
}

#totalSearch button {
   border-radius: 3px;
   margin: 0px auto;
   margin-top: 3px;
   padding: 0px;
   width: 96px;
   height: 53px;
/*    background-color: rgba(169, 169, 169, 0.2); */ 
   background-color: white;
   border: 1px white solid;
   float: left;
}   
   
