@charset "UTF-8";
#page {
	margin: 0 auto;
	width: 850px;
	padding-top: 5px;
	height: 28px;
	font-size: 10pt;
}
#pagepre{
	display: inline-block;
}
#pre, #pre10{
	display: inline-block;
	border: 1px solid;
	width: 20px;
	height: 20px;
}
#pre:hover, #pre10:hover{
	background-color: gray;
	cursor: pointer;
}
#pagenum {
	display: inline-block;
}
#curpage, #ncurpage{
	display: inline-block;
	border: 1px solid;
	width: 20px;
	height: 20px;
}
#curpage{
	background-color: gray;
}
#ncurpage:hover{
	background-color: gray;
	cursor: pointer;
}
#pagenex{
	display: inline-block; 
}
#nex, #nex10{
	display: inline-block;
	border: 1px solid;
	width: 20px;
	height: 20px;
}
#nex:hover, #nex10:hover{
	background-color: gray;
	cursor: pointer;
}