@charset "UTF-8";

#Rside {
	margin: 0px auto;
	margin-top: 40px;
	padding: 0px;
	width: 170px;
	height: auto;
	font-size: 18px;
	float: right;
}

#Rside ul {
	margin: 0px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 0px;
	list-style: none;
}

#Rside a {
	color: black;
	text-decoration: none;
	display: block;
}

#Rside a:link {
	color: black;
	text-decoration: none;
}

#Rside #categoryTop {
	width: 200px;
	padding: 0px;
	float: left;
	margin: 0px;
	margin-bottom: 3px;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	position: relative;
	border: gray 1px solid;
	border-radius: 3px;
}

#Rside #categoryBottom {
	width: 140px;
	height: 26px;
	float: left;
	padding: 0px;
	padding-bottom: 5px;
	margin: 0px;
	margin-left: 30px;
	font-size: 16px;
	border-bottom: rgba(169,169,169, 0.5) 0.5px solid;
}
#detail {
	display: none;
}

#index {
	width: 60px;
	height: 33px;
	float: right;
	margin: 0px;
	padding: 0px;
}
#open {
	width: 15px;
	float: none;
	margin-left: 5px;
	vertical-align: middle;
}

#Rside ul ul {
	margin: 0px;
	margin-top: 13px;
	padding: 0px;
	top: 23px;
	left: 10px;
	width: 150px;
	height: 100px;
}