@charset "UTF-8";

#topmenu{
	margin: 0px auto;
/* 	position: static; */
	height: 70px;
    width: 1250px;
	padding-top: 5px;
}
#topmenu ul, #topmenu li {
	margin: 0px;
	padding: 0px;
}

#topmenu li {
	display: inline-block;
	padding: 10px 10px;
}
#sitename{
	font-weight: bold; 
	font-family: "Gamja Flower", cursive;
}
#sitename a{
	font-size: 34pt;
	text-decoration: none;
	vertical-align: middle;
	
}
#this{
	background: linear-gradient(to right, #FF856B 50%, #FFBD6B 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
}
#that{
	background: linear-gradient(to right, #5797C1 50%, #57D084 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
}