@charset "UTF-8";

#topmenu{
	margin: 0px auto;
/* 	position: static; */
	height: 70px;
    width: 1250px;
	padding-top: 5px;
	border-bottom: 1px dashed;
}
#topmenu ul, #topmenu li {
	margin: 0px;
	padding: 0px;
}

#topmenu li {
	display: inline-block;
	padding: 10px 10px;
}
#sitename{
	font-weight: bold; 
	font-family: "Gamja Flower", cursive;
}
#sitename a{
	font-size: 34pt;
	text-decoration: none;
	vertical-align: middle;
	
}
#this{
	background: linear-gradient(to right, #FF856B 50%, #FFBD6B 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
}
#that{
	background: linear-gradient(to right, #5797C1 50%, #57D084 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
}

#search {
   margin: 0px auto;
   padding: 0px;
   padding-top: 1px;
   width: 156px;
   height: 23px;
   border: 1px gray solid;
   border-radius: 2px;
   float: left;
}

#topsearch input {
   margin-left: 2px;
   width: 98px;
   position: relative;
   border-radius: 3px;
   border: none;
   margin-right: 3px;
   float: left;
   height: 20px;
}

#topsearch button {
   border-radius: 3px;
   margin: 0px auto;
   padding: 0px;
   width: 31px;
   height: 23px;
   background-color: white;
   border: 1px white solid;
   float: left;
}

#topsearch img {
   margin-top: 1px;
   width: 17px;
}