@charset "UTF-8";

body::-webkit-scrollbar {
	display: none;
}

#welcomeList {
	margin: 0px auto;
	padding: 0px;
	margin-top: 100px;
	width: 1250px;
	height: auto;
}

#list {
	margin: 0px auto;
	padding: 0px;
	width: 850px;
	text-align: center;
}

#list table {
	font-size: 14px;
	text-align: center;
	margin: 0px auto;
	padding: 0px;
	width: 850px;
	margin-bottom: 5px;
	border-collapse: collapse;
	border: 0.7px rgba(169, 169, 169, 0.7) solid;
}

#list table th {
	margin: 0px auto;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 150px;
	height: 30px;
	background-color: rgba(94, 204, 152, 0.4);
	border: 0.7px rgba(169, 169, 169, 0.7) solid;
}

#list table td {
	margin: 0px auto;
	padding: 0px;
	padding-left: 5px;
	padding-top: 6px;
	padding-bottom: 5px;
	height: 30px;
	text-align: left;
	border: 0.7px rgba(169, 169, 169, 0.7) solid;
}

#list input {
	width: 170px;
	height: 25px;
	padding-left: 3px;
	margin-right: 5px;
	border: 1px rgba(169, 169, 169, 0.7) solid;
	border-radius: 3px;
}

#list #e-ad {
	margin-left: 5px;
	margin-right: 0px;
}

#list select {
	margin-left: 3px;
	width: 120px;
	height: 29px;
	border: 0.7px rgba(169, 169, 169, 0.7) solid;
	border-radius: 2px;
}

#list button {
	width: 70px;
	height: 26px;
	border: 0.7px rgba(169, 169, 169, 0.7) solid;
	border-radius: 2px;
}

#list #resultButt {
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: white;
	width: 140px;
	height: 30px;
	background-color: white;
}

#list #resultButted {
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: white;
	width: 140px;
	height: 30px;
	background-color: white;
}

#list small:hover {
	color: red;
}
#afterId {
	margin-top: 15px; 
	padding-top: 50px;
	border-top: 1px gray solid;
}
#afterId {
	text-align: left;
}

#afterId #p {
	margin: 0 auto;
	width: 850px;
}

#list #re {
	background-color: white;
	width: 140px;
	height: 30px;
}

#list #ri {
	background-color: white;
	width: 80px;
	height: 30px;
	margin-left: 5px;
}