@charset "UTF-8";

#writetitle{
	margin: 0 auto;
	width: 850px;
}
#writetitle select{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100px;
	height: 28px;
	vertical-align: bottom;
}
#writetitle input{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 850px;
	font-size: 12pt;
}
#writebutton{
	width: 850px;
	height: 30px;
}


