@charset "UTF-8";

#write {
	margin: 0px auto;
	padding: 0px;
	width: 1250px;
	height: auto;
}
#writetitle{
	margin: 0 auto;
	width: 850px;
}
#writetitle select{
	margin-top: 10px;
	width: 100px;
	height: 28px;
	vertical-align: bottom;
}

#writetitle input{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 850px;
	height: 30px;
	font-size: 12pt;
}
#writebutton{
	width: 850px;
	height: 30px;
}


